.navbar {
  position: absolute;
  width: 100%;
  margin-top: 50px;
  width: 1080px;
  z-index: 1;
}
.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-menu-list {
  margin-right: 410px;
}
.nav-menu-list__item {
  display: inline;
  list-style: none;
  margin-left: 60px;
  cursor: pointer;
}
.nav-menu__logo {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.cart {
  display: flex;
  align-items: center;
}
