.App {
  overflow: hidden;
}
.back {
  background-color: #ffeede;
  width: 1177px;
  height: 1177px;
  border-radius: 50%;
  position: relative;
  top: -645px;
  left: 183px; /* 283px or 183px */
  overflow: hidden;
  z-index: -1;
}
.dish-info {
  position: relative;
  max-width: 350px;
  top: 288px;
}
